footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_img {
  width: 50rem;
  margin: 0;
}
.footer_text {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: overline;
  transform: translateX(-3rem);
}
